  <form  [formGroup]="formUser" style=" background: rgba(139, 227, 242, 0.763); width: 18rem; padding:10px; box-shadow: 3px 3px 5px; border-radius: 8px;">
      <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" formControlName="username">
        <div  [hidden]="username.valid || username.pristine">
          <span style="color: red;" *ngIf="username.errors?.['required']"> El username es obligatorio </span>
          <span style="color: red;" *ngIf="username.errors?.['email']"> El email debe ser válido </span>
        </div>
      </div>
      <div  class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"  name="password" formControlName="password">
        <div    [hidden]="password.valid || password.pristine">
          <span style="color: red;"  *ngIf="password.errors?.['required']"> El password es obligatorio </span>
        </div>
      </div>
  
      <button type="submit" style="width: 17rem;" class="btn btn-primary" (click)="login()" [disabled]="formUser.invalid">Iniciar</button>
  </form>

