<div style="display: flex;flex-direction: column; flex-wrap: wrap; width: 100%; justify-content: center; align-items: center;">
    <h1 style="color: rgb(5, 101, 154);">DASHBOARD</h1>
<div class="card-group">
    <div class="card" style="width: 80%; background: rgba(91, 244, 67, 0.674); font-family: cursive;margin: 8px;border-radius: 10px;">
      <img src="../../assets/clientes.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">CLIENTES</h3>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card" style="width: 80%; background: rgba(232, 174, 58, 0.674); font-family: cursive; margin: 8px; border-radius: 10px;">
      <img src="../../assets/ventas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">VENTAS</h3>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>

</div>
<button type="button" class="btn btn-primary btn-lg"(click)="logout()">SALIR</button>
